* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.A {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
  margin-bottom: 50px;
}

.main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.box-1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.box-2 {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.box-3 {
  margin: 15px 0 5px;
}

.box-4 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-A {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.box-B {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.C {
  height: 50px;
  width: 100%;
  margin-top: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    margin: 50px auto;
    display: block;
    justify-content: center;
  }

  .box {
    width: 90%;
    margin: 20px auto;
    position: relative;
    background-color: #eee;
    margin-bottom: 20px;
  }

  .box-1 {
    height: 245px;
    background-image: url(img/flow01.png);
    background-position: bottom;
    background-size: cover;
  }

  .box-2 {
    padding: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff9a4b;
    color: #fff;
  }

  .box-3 {
    margin: 15px 0 5px;
  }

  .box-4 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .box-A {
    height: 245px;
    background-image: url(img/flow02.png);
    background-position: bottom;
    background-size: cover;
    padding-bottom: 20px;
  }

  .box-B {
    height: 245px;
    background-image: url(img/flow03.png);
    background-position: bottom;
    background-size: cover;
  }
}
