* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.A {
  width: 100%;
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: right center;
}

.B {
  width: 100%;
  height: 200px;
  background-image: url(img/box2.jpg);
  background-position: right center;
  background-size: cover;
}

.C {
  width: 100%;
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.D {
  width: 100%;
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}
